body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333;
}

.modo-escuro {
    background-color: #212121;
    color: #f5f5f5;
}

.modo-escuro .cartao-pokemon {
    background-color: #a8a8a8;
}

.modo-escuro h2 {
    color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
    
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
}

main .listagem-pokemon {
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon {
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 1px 5px 40px #00000056;
}

main .verde:hover {
    background-color: #7ac74c;
    box-shadow: 1px 5px 40px #7ac74c;
}

main .vermelho:hover {
    background-color: #fc984b;
    box-shadow: 1px 5px 40px #fc984b;
}

main .azul:hover {
    background-color: #449eef;
    box-shadow: 1px 5px 40px #449eef;
}

main .verde-escuro:hover {
    background-color: #a6b91a;
    box-shadow: 1px 5px 40px #a6b91a;
}

main .roxo:hover {
    background-color: #df67ddfb;
    box-shadow: 1px 5px 40px #df67ddfb;
}

main .amarelo:hover {
    background-color: #F9CE3D;
    box-shadow: 1px 5px 40px #F9CE3D;
}

main .roxo-claro:hover {
    background-color: #6A62BA;
    box-shadow: 1px 5px 40px #6A62BA;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;

}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos {
    display: flex;
    justify-content: center;
    gap: 5px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
}

.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color: #df67ddfb;
}

.fogo {
    background-color: #fc984b;
}

.agua {
    background-color: #449eef;
}

.voador {
    background-color: #8fa8e2;
}

.inseto {
    background-color: #a6b91a;
}

.psiquico {
    background-color: #F74C9A;
}

.gelo {
    background-color: #8CD3FE;
}

.terra {
    background-color: #D9BD59;
}

.eletrico {
    background-color: #F9CE3D;
}

.fantasma {
    background-color: #6A62BA;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    margin: 50px;
    color: #333333;
}